In [61]:
import pandas as pd

data_frame = pd.read_csv("Clean_Dataset.csv")

In [62]:
data_frame

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [63]:
data_frame.airline.value_counts()

airline
Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: count, dtype: int64

In [64]:
data_frame.source_city.value_counts()

source_city
Delhi        61343
Mumbai       60896
Bangalore    52061
Kolkata      46347
Hyderabad    40806
Chennai      38700
Name: count, dtype: int64

In [65]:
data_frame.destination_city.value_counts()

destination_city
Mumbai       59097
Delhi        57360
Bangalore    51068
Kolkata      49534
Hyderabad    42726
Chennai      40368
Name: count, dtype: int64

In [66]:
data_frame.arrival_time.value_counts()

arrival_time
Night            91538
Evening          78323
Morning          62735
Afternoon        38139
Early_Morning    15417
Late_Night       14001
Name: count, dtype: int64

In [67]:
data_frame.departure_time.value_counts()

departure_time
Morning          71146
Early_Morning    66790
Evening          65102
Night            48015
Afternoon        47794
Late_Night        1306
Name: count, dtype: int64

In [68]:
data_frame["class"].value_counts()

class
Economy     206666
Business     93487
Name: count, dtype: int64

In [69]:
data_frame["duration"].min()

np.float64(0.83)

In [70]:
data_frame["duration"].max()

np.float64(49.83)

In [71]:
data_frame["duration"].median()

np.float64(11.25)

In [72]:
## Data PreProcessing

In [73]:
data_frame = data_frame.drop("Unnamed: 0", axis=1)
data_frame = data_frame.drop("flight", axis=1)

data_frame["class"] = data_frame["class"].apply(lambda x: 1 if x == "Business" else 0)

In [74]:
pd.factorize(data_frame.stops)

(array([0, 0, 0, ..., 1, 1, 1]),
 Index(['zero', 'one', 'two_or_more'], dtype='object'))

In [75]:
data_frame.stops

0         zero
1         zero
2         zero
3         zero
4         zero
          ...
300148     one
300149     one
300150     one
300151     one
300152     one
Name: stops, Length: 300153, dtype: object

In [76]:
data_frame.stops = pd.factorize(data_frame.stops)[0]

In [77]:
data_frame

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,0,Night,Mumbai,0,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,0,Morning,Mumbai,0,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,0,Early_Morning,Mumbai,0,2.17,1,5956
3,Vistara,Delhi,Morning,0,Afternoon,Mumbai,0,2.25,1,5955
4,Vistara,Delhi,Morning,0,Morning,Mumbai,0,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,Chennai,Morning,1,Evening,Hyderabad,1,10.08,49,69265
300149,Vistara,Chennai,Afternoon,1,Night,Hyderabad,1,10.42,49,77105
300150,Vistara,Chennai,Early_Morning,1,Night,Hyderabad,1,13.83,49,79099
300151,Vistara,Chennai,Early_Morning,1,Evening,Hyderabad,1,10.00,49,81585
300152,Vistara,Chennai,Morning,1,Evening,Hyderabad,1,10.08,49,81585

In [78]:
pd.get_dummies(data_frame.airline, prefix="airline")

,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara
0,False,False,False,False,True,False
1,False,False,False,False,True,False
2,True,False,False,False,False,False
3,False,False,False,False,False,True
4,False,False,False,False,False,True
...,...,...,...,...,...,...
300148,False,False,False,False,False,True
300149,False,False,False,False,False,True
300150,False,False,False,False,False,True
300151,False,False,False,False,False,True
300152,False,False,False,False,False,True

In [79]:
data_frame.join(pd.get_dummies(data_frame.airline, prefix="airline")).drop("airline", axis=1)
data_frame.join(pd.get_dummies(data_frame.source_city, prefix="source")).drop("source_city", axis=1)
data_frame.join(pd.get_dummies(data_frame.destination_city, prefix="dest")).drop("destination_city", axis=1)
data_frame.join(pd.get_dummies(data_frame.arrival_time, prefix="arrival")).drop("arrival_time", axis=1)
data_frame.join(pd.get_dummies(data_frame.departure_time, prefix="departure")).drop("departure_time", axis=1)

,airline,source_city,stops,arrival_time,destination_city,class,duration,days_left,price,departure_Afternoon,departure_Early_Morning,departure_Evening,departure_Late_Night,departure_Morning,departure_Night
0,SpiceJet,Delhi,0,Night,Mumbai,0,2.17,1,5953,False,False,True,False,False,False
1,SpiceJet,Delhi,0,Morning,Mumbai,0,2.33,1,5953,False,True,False,False,False,False
2,AirAsia,Delhi,0,Early_Morning,Mumbai,0,2.17,1,5956,False,True,False,False,False,False
3,Vistara,Delhi,0,Afternoon,Mumbai,0,2.25,1,5955,False,False,False,False,True,False
4,Vistara,Delhi,0,Morning,Mumbai,0,2.33,1,5955,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,Chennai,1,Evening,Hyderabad,1,10.08,49,69265,False,False,False,False,True,False
300149,Vistara,Chennai,1,Night,Hyderabad,1,10.42,49,77105,True,False,False,False,False,False
300150,Vistara,Chennai,1,Night,Hyderabad,1,13.83,49,79099,False,True,False,False,False,False
300151,Vistara,Chennai,1,Evening,Hyderabad,1,10.00,49,81585,False,True,False,False,False,False
300152,Vistara,Chennai,1,Evening,Hyderabad,1,10.08,49,81585,False,False,False,False,True,False

In [80]:
data_frame

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,0,Night,Mumbai,0,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,0,Morning,Mumbai,0,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,0,Early_Morning,Mumbai,0,2.17,1,5956
3,Vistara,Delhi,Morning,0,Afternoon,Mumbai,0,2.25,1,5955
4,Vistara,Delhi,Morning,0,Morning,Mumbai,0,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,Chennai,Morning,1,Evening,Hyderabad,1,10.08,49,69265
300149,Vistara,Chennai,Afternoon,1,Night,Hyderabad,1,10.42,49,77105
300150,Vistara,Chennai,Early_Morning,1,Night,Hyderabad,1,13.83,49,79099
300151,Vistara,Chennai,Early_Morning,1,Evening,Hyderabad,1,10.00,49,81585
300152,Vistara,Chennai,Morning,1,Evening,Hyderabad,1,10.08,49,81585

In [81]:
## Training Regression Model

In [82]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

print(type(data_frame))
print(data_frame.head())

<class 'pandas.core.frame.DataFrame'>
    airline source_city departure_time  stops   arrival_time destination_city  \
0  SpiceJet       Delhi        Evening      0          Night           Mumbai
1  SpiceJet       Delhi  Early_Morning      0        Morning           Mumbai
2   AirAsia       Delhi  Early_Morning      0  Early_Morning           Mumbai
3   Vistara       Delhi        Morning      0      Afternoon           Mumbai
4   Vistara       Delhi        Morning      0        Morning           Mumbai

   class  duration  days_left  price
0      0      2.17          1   5953
1      0      2.33          1   5953
2      0      2.17          1   5956
3      0      2.25          1   5955
4      0      2.33          1   5955

In [83]:
x, y = data_frame.drop("price", axis=1), data_frame.price

In [84]:
reg = RandomForestRegressor(n_jobs=-1)
reg.fit(x_train, y_train)

RandomForestRegressor(n_jobs=-1)

In [85]:
reg.score(x_test, y_test)

0.9855263048158001